html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.row, .col {
  display: flex;
  flex-wrap: wrap; }

.col-1 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  flex-wrap: wrap; }

.col-2 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  flex-wrap: wrap; }

.col-3 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 25%;
  max-width: 25%;
  flex-wrap: wrap; }

.col-4 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  flex-wrap: wrap; }

.col-5 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  flex-wrap: wrap; }

.col-6 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 50%;
  max-width: 50%;
  flex-wrap: wrap; }

.col-7 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  flex-wrap: wrap; }

.col-8 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  flex-wrap: wrap; }

.col-9 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 75%;
  max-width: 75%;
  flex-wrap: wrap; }

.col-10 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  flex-wrap: wrap; }

.col-11 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  flex-wrap: wrap; }

.col-12 {
  display: flex;
  flex: 0 0 auto;
  flex-basis: 100%;
  max-width: 100%;
  flex-wrap: wrap; }

.pad-1 {
  padding: 8px; }

.pad-1-left {
  padding-left: 8px; }

.pad-1-right {
  padding-right: 8px; }

.pad-1-top {
  padding-top: 8px; }

.pad-1-bottom {
  padding-bottom: 8px; }

.pad-1-sides {
  padding-left: 8px;
  padding-right: 8px; }

.pad-1-vert {
  padding-top: 8px;
  padding-bottom: 8px; }

.marg-1 {
  margin: 8px; }

.marg-1-left {
  margin-left: 8px; }

.marg-1-right {
  margin-right: 8px; }

.marg-1-top {
  margin-top: 8px; }

.marg-1-bottom {
  margin-bottom: 8px; }

.marg-1-sides {
  margin-left: 8px;
  margin-right: 8px; }

.marg-1-vert {
  margin-top: 8px;
  margin-bottom: 8px; }

.pad-2 {
  padding: 16px; }

.pad-2-left {
  padding-left: 16px; }

.pad-2-right {
  padding-right: 16px; }

.pad-2-top {
  padding-top: 16px; }

.pad-2-bottom {
  padding-bottom: 16px; }

.pad-2-sides {
  padding-left: 16px;
  padding-right: 16px; }

.pad-2-vert {
  padding-top: 16px;
  padding-bottom: 16px; }

.marg-2 {
  margin: 16px; }

.marg-2-left {
  margin-left: 16px; }

.marg-2-right {
  margin-right: 16px; }

.marg-2-top {
  margin-top: 16px; }

.marg-2-bottom {
  margin-bottom: 16px; }

.marg-2-sides {
  margin-left: 16px;
  margin-right: 16px; }

.marg-2-vert {
  margin-top: 16px;
  margin-bottom: 16px; }

.pad-3 {
  padding: 32px; }

.pad-3-left {
  padding-left: 32px; }

.pad-3-right {
  padding-right: 32px; }

.pad-3-top {
  padding-top: 32px; }

.pad-3-bottom {
  padding-bottom: 32px; }

.pad-3-sides {
  padding-left: 32px;
  padding-right: 32px; }

.pad-3-vert {
  padding-top: 32px;
  padding-bottom: 32px; }

.marg-3 {
  margin: 32px; }

.marg-3-left {
  margin-left: 32px; }

.marg-3-right {
  margin-right: 32px; }

.marg-3-top {
  margin-top: 32px; }

.marg-3-bottom {
  margin-bottom: 32px; }

.marg-3-sides {
  margin-left: 32px;
  margin-right: 32px; }

.marg-3-vert {
  margin-top: 32px;
  margin-bottom: 32px; }

.pad-0 {
  padding: 0; }

.pad-0-left {
  padding-left: 0; }

.pad-0-right {
  padding-right: 0; }

.pad-0-top {
  padding-top: 0; }

.pad-0-bottom {
  padding-bottom: 0; }

.pad-0-sides {
  padding-left: 0;
  padding-right: 0; }

.pad-0-vert {
  padding-top: 0;
  padding-bottom: 0; }

.marg-0 {
  margin: 0; }

.marg-0-left {
  margin-left: 0; }

.marg-0-right {
  margin-right: 0; }

.marg-0-top {
  margin-top: 0; }

.marg-0-bottom {
  margin-bottom: 0; }

.marg-0-sides {
  margin-left: 0;
  margin-right: 0; }

.marg-0-vert {
  margin-top: 0;
  margin-bottom: 0; }

.row-1 {
  display: flex;
  height: 8.33333%; }

.row-2 {
  display: flex;
  height: 16.66667%; }

.row-3 {
  display: flex;
  height: 25%; }

.row-4 {
  display: flex;
  height: 33.33333%; }

.row-5 {
  display: flex;
  height: 41.66667%; }

.row-6 {
  display: flex;
  height: 50%; }

.row-7 {
  display: flex;
  height: 58.33333%; }

.row-8 {
  display: flex;
  height: 66.66667%; }

.row-9 {
  display: flex;
  height: 75%; }

.row-10 {
  display: flex;
  height: 83.33333%; }

.row-11 {
  display: flex;
  height: 91.66667%; }

.row-12 {
  display: flex;
  height: 100%; }

@media (max-width: 480px) {
  .s-col-1 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    flex-wrap: wrap; }

  .s-col-2 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    flex-wrap: wrap; }

  .s-col-3 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 25%;
    max-width: 25%;
    flex-wrap: wrap; }

  .s-col-4 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    flex-wrap: wrap; }

  .s-col-5 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    flex-wrap: wrap; }

  .s-col-6 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 50%;
    max-width: 50%;
    flex-wrap: wrap; }

  .s-col-7 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    flex-wrap: wrap; }

  .s-col-8 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    flex-wrap: wrap; }

  .s-col-9 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 75%;
    max-width: 75%;
    flex-wrap: wrap; }

  .s-col-10 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    flex-wrap: wrap; }

  .s-col-11 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    flex-wrap: wrap; }

  .s-col-12 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap; }

  .s-pad-1 {
    padding: 8px; }

  .s-pad-1-left {
    padding-left: 8px; }

  .s-pad-1-right {
    padding-right: 8px; }

  .s-pad-1-top {
    padding-top: 8px; }

  .s-pad-1-bottom {
    padding-bottom: 8px; }

  .s-pad-1-sides {
    padding-left: 8px;
    padding-right: 8px; }

  .s-pad-1-vert {
    padding-top: 8px;
    padding-bottom: 8px; }

  .s-marg-1 {
    margin: 8px; }

  .s-marg-1-left {
    margin-left: 8px; }

  .s-marg-1-right {
    margin-right: 8px; }

  .s-marg-1-top {
    margin-top: 8px; }

  .s-marg-1-bottom {
    margin-bottom: 8px; }

  .s-marg-1-sides {
    margin-left: 8px;
    margin-right: 8px; }

  .s-marg-1-vert {
    margin-top: 8px;
    margin-bottom: 8px; }

  .s-pad-2 {
    padding: 16px; }

  .s-pad-2-left {
    padding-left: 16px; }

  .s-pad-2-right {
    padding-right: 16px; }

  .s-pad-2-top {
    padding-top: 16px; }

  .s-pad-2-bottom {
    padding-bottom: 16px; }

  .s-pad-2-sides {
    padding-left: 16px;
    padding-right: 16px; }

  .s-pad-2-vert {
    padding-top: 16px;
    padding-bottom: 16px; }

  .s-marg-2 {
    margin: 16px; }

  .s-marg-2-left {
    margin-left: 16px; }

  .s-marg-2-right {
    margin-right: 16px; }

  .s-marg-2-top {
    margin-top: 16px; }

  .s-marg-2-bottom {
    margin-bottom: 16px; }

  .s-marg-2-sides {
    margin-left: 16px;
    margin-right: 16px; }

  .s-marg-2-vert {
    margin-top: 16px;
    margin-bottom: 16px; }

  .s-pad-3 {
    padding: 32px; }

  .s-pad-3-left {
    padding-left: 32px; }

  .s-pad-3-right {
    padding-right: 32px; }

  .s-pad-3-top {
    padding-top: 32px; }

  .s-pad-3-bottom {
    padding-bottom: 32px; }

  .s-pad-3-sides {
    padding-left: 32px;
    padding-right: 32px; }

  .s-pad-3-vert {
    padding-top: 32px;
    padding-bottom: 32px; }

  .s-marg-3 {
    margin: 32px; }

  .s-marg-3-left {
    margin-left: 32px; }

  .s-marg-3-right {
    margin-right: 32px; }

  .s-marg-3-top {
    margin-top: 32px; }

  .s-marg-3-bottom {
    margin-bottom: 32px; }

  .s-marg-3-sides {
    margin-left: 32px;
    margin-right: 32px; }

  .s-marg-3-vert {
    margin-top: 32px;
    margin-bottom: 32px; }

  .s-pad-0 {
    padding: 0; }

  .s-pad-0-left {
    padding-left: 0; }

  .s-pad-0-right {
    padding-right: 0; }

  .s-pad-0-top {
    padding-top: 0; }

  .s-pad-0-bottom {
    padding-bottom: 0; }

  .s-pad-0-sides {
    padding-left: 0;
    padding-right: 0; }

  .s-pad-0-vert {
    padding-top: 0;
    padding-bottom: 0; }

  .s-marg-0 {
    margin: 0; }

  .s-marg-0-left {
    margin-left: 0; }

  .s-marg-0-right {
    margin-right: 0; }

  .s-marg-0-top {
    margin-top: 0; }

  .s-marg-0-bottom {
    margin-bottom: 0; }

  .s-marg-0-sides {
    margin-left: 0;
    margin-right: 0; }

  .s-marg-0-vert {
    margin-top: 0;
    margin-bottom: 0; }

  .s-row-1 {
    display: flex;
    height: 8.33333%; }

  .s-row-2 {
    display: flex;
    height: 16.66667%; }

  .s-row-3 {
    display: flex;
    height: 25%; }

  .s-row-4 {
    display: flex;
    height: 33.33333%; }

  .s-row-5 {
    display: flex;
    height: 41.66667%; }

  .s-row-6 {
    display: flex;
    height: 50%; }

  .s-row-7 {
    display: flex;
    height: 58.33333%; }

  .s-row-8 {
    display: flex;
    height: 66.66667%; }

  .s-row-9 {
    display: flex;
    height: 75%; }

  .s-row-10 {
    display: flex;
    height: 83.33333%; }

  .s-row-11 {
    display: flex;
    height: 91.66667%; }

  .s-row-12 {
    display: flex;
    height: 100%; } }
@media (min-width: 481px) and (max-width: 800px) {
  .m-col-1 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    flex-wrap: wrap; }

  .m-col-2 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    flex-wrap: wrap; }

  .m-col-3 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 25%;
    max-width: 25%;
    flex-wrap: wrap; }

  .m-col-4 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    flex-wrap: wrap; }

  .m-col-5 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    flex-wrap: wrap; }

  .m-col-6 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 50%;
    max-width: 50%;
    flex-wrap: wrap; }

  .m-col-7 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    flex-wrap: wrap; }

  .m-col-8 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    flex-wrap: wrap; }

  .m-col-9 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 75%;
    max-width: 75%;
    flex-wrap: wrap; }

  .m-col-10 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    flex-wrap: wrap; }

  .m-col-11 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    flex-wrap: wrap; }

  .m-col-12 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap; }

  .m-pad-1 {
    padding: 8px; }

  .m-pad-1-left {
    padding-left: 8px; }

  .m-pad-1-right {
    padding-right: 8px; }

  .m-pad-1-top {
    padding-top: 8px; }

  .m-pad-1-bottom {
    padding-bottom: 8px; }

  .m-pad-1-sides {
    padding-left: 8px;
    padding-right: 8px; }

  .m-pad-1-vert {
    padding-top: 8px;
    padding-bottom: 8px; }

  .m-marg-1 {
    margin: 8px; }

  .m-marg-1-left {
    margin-left: 8px; }

  .m-marg-1-right {
    margin-right: 8px; }

  .m-marg-1-top {
    margin-top: 8px; }

  .m-marg-1-bottom {
    margin-bottom: 8px; }

  .m-marg-1-sides {
    margin-left: 8px;
    margin-right: 8px; }

  .m-marg-1-vert {
    margin-top: 8px;
    margin-bottom: 8px; }

  .m-pad-2 {
    padding: 16px; }

  .m-pad-2-left {
    padding-left: 16px; }

  .m-pad-2-right {
    padding-right: 16px; }

  .m-pad-2-top {
    padding-top: 16px; }

  .m-pad-2-bottom {
    padding-bottom: 16px; }

  .m-pad-2-sides {
    padding-left: 16px;
    padding-right: 16px; }

  .m-pad-2-vert {
    padding-top: 16px;
    padding-bottom: 16px; }

  .m-marg-2 {
    margin: 16px; }

  .m-marg-2-left {
    margin-left: 16px; }

  .m-marg-2-right {
    margin-right: 16px; }

  .m-marg-2-top {
    margin-top: 16px; }

  .m-marg-2-bottom {
    margin-bottom: 16px; }

  .m-marg-2-sides {
    margin-left: 16px;
    margin-right: 16px; }

  .m-marg-2-vert {
    margin-top: 16px;
    margin-bottom: 16px; }

  .m-pad-3 {
    padding: 32px; }

  .m-pad-3-left {
    padding-left: 32px; }

  .m-pad-3-right {
    padding-right: 32px; }

  .m-pad-3-top {
    padding-top: 32px; }

  .m-pad-3-bottom {
    padding-bottom: 32px; }

  .m-pad-3-sides {
    padding-left: 32px;
    padding-right: 32px; }

  .m-pad-3-vert {
    padding-top: 32px;
    padding-bottom: 32px; }

  .m-marg-3 {
    margin: 32px; }

  .m-marg-3-left {
    margin-left: 32px; }

  .m-marg-3-right {
    margin-right: 32px; }

  .m-marg-3-top {
    margin-top: 32px; }

  .m-marg-3-bottom {
    margin-bottom: 32px; }

  .m-marg-3-sides {
    margin-left: 32px;
    margin-right: 32px; }

  .m-marg-3-vert {
    margin-top: 32px;
    margin-bottom: 32px; }

  .m-pad-0 {
    padding: 0; }

  .m-pad-0-left {
    padding-left: 0; }

  .m-pad-0-right {
    padding-right: 0; }

  .m-pad-0-top {
    padding-top: 0; }

  .m-pad-0-bottom {
    padding-bottom: 0; }

  .m-pad-0-sides {
    padding-left: 0;
    padding-right: 0; }

  .m-pad-0-vert {
    padding-top: 0;
    padding-bottom: 0; }

  .m-marg-0 {
    margin: 0; }

  .m-marg-0-left {
    margin-left: 0; }

  .m-marg-0-right {
    margin-right: 0; }

  .m-marg-0-top {
    margin-top: 0; }

  .m-marg-0-bottom {
    margin-bottom: 0; }

  .m-marg-0-sides {
    margin-left: 0;
    margin-right: 0; }

  .m-marg-0-vert {
    margin-top: 0;
    margin-bottom: 0; }

  .m-row-1 {
    display: flex;
    height: 8.33333%; }

  .m-row-2 {
    display: flex;
    height: 16.66667%; }

  .m-row-3 {
    display: flex;
    height: 25%; }

  .m-row-4 {
    display: flex;
    height: 33.33333%; }

  .m-row-5 {
    display: flex;
    height: 41.66667%; }

  .m-row-6 {
    display: flex;
    height: 50%; }

  .m-row-7 {
    display: flex;
    height: 58.33333%; }

  .m-row-8 {
    display: flex;
    height: 66.66667%; }

  .m-row-9 {
    display: flex;
    height: 75%; }

  .m-row-10 {
    display: flex;
    height: 83.33333%; }

  .m-row-11 {
    display: flex;
    height: 91.66667%; }

  .m-row-12 {
    display: flex;
    height: 100%; } }
@media (min-width: 801px) {
  .l-col-1 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    flex-wrap: wrap; }

  .l-col-2 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    flex-wrap: wrap; }

  .l-col-3 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 25%;
    max-width: 25%;
    flex-wrap: wrap; }

  .l-col-4 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    flex-wrap: wrap; }

  .l-col-5 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    flex-wrap: wrap; }

  .l-col-6 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 50%;
    max-width: 50%;
    flex-wrap: wrap; }

  .l-col-7 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    flex-wrap: wrap; }

  .l-col-8 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    flex-wrap: wrap; }

  .l-col-9 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 75%;
    max-width: 75%;
    flex-wrap: wrap; }

  .l-col-10 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    flex-wrap: wrap; }

  .l-col-11 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    flex-wrap: wrap; }

  .l-col-12 {
    display: flex;
    flex: 0 0 auto;
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap; }

  .l-pad-1 {
    padding: 8px; }

  .l-pad-1-left {
    padding-left: 8px; }

  .l-pad-1-right {
    padding-right: 8px; }

  .l-pad-1-top {
    padding-top: 8px; }

  .l-pad-1-bottom {
    padding-bottom: 8px; }

  .l-pad-1-sides {
    padding-left: 8px;
    padding-right: 8px; }

  .l-pad-1-vert {
    padding-top: 8px;
    padding-bottom: 8px; }

  .l-marg-1 {
    margin: 8px; }

  .l-marg-1-left {
    margin-left: 8px; }

  .l-marg-1-right {
    margin-right: 8px; }

  .l-marg-1-top {
    margin-top: 8px; }

  .l-marg-1-bottom {
    margin-bottom: 8px; }

  .l-marg-1-sides {
    margin-left: 8px;
    margin-right: 8px; }

  .l-marg-1-vert {
    margin-top: 8px;
    margin-bottom: 8px; }

  .l-pad-2 {
    padding: 16px; }

  .l-pad-2-left {
    padding-left: 16px; }

  .l-pad-2-right {
    padding-right: 16px; }

  .l-pad-2-top {
    padding-top: 16px; }

  .l-pad-2-bottom {
    padding-bottom: 16px; }

  .l-pad-2-sides {
    padding-left: 16px;
    padding-right: 16px; }

  .l-pad-2-vert {
    padding-top: 16px;
    padding-bottom: 16px; }

  .l-marg-2 {
    margin: 16px; }

  .l-marg-2-left {
    margin-left: 16px; }

  .l-marg-2-right {
    margin-right: 16px; }

  .l-marg-2-top {
    margin-top: 16px; }

  .l-marg-2-bottom {
    margin-bottom: 16px; }

  .l-marg-2-sides {
    margin-left: 16px;
    margin-right: 16px; }

  .l-marg-2-vert {
    margin-top: 16px;
    margin-bottom: 16px; }

  .l-pad-3 {
    padding: 32px; }

  .l-pad-3-left {
    padding-left: 32px; }

  .l-pad-3-right {
    padding-right: 32px; }

  .l-pad-3-top {
    padding-top: 32px; }

  .l-pad-3-bottom {
    padding-bottom: 32px; }

  .l-pad-3-sides {
    padding-left: 32px;
    padding-right: 32px; }

  .l-pad-3-vert {
    padding-top: 32px;
    padding-bottom: 32px; }

  .l-marg-3 {
    margin: 32px; }

  .l-marg-3-left {
    margin-left: 32px; }

  .l-marg-3-right {
    margin-right: 32px; }

  .l-marg-3-top {
    margin-top: 32px; }

  .l-marg-3-bottom {
    margin-bottom: 32px; }

  .l-marg-3-sides {
    margin-left: 32px;
    margin-right: 32px; }

  .l-marg-3-vert {
    margin-top: 32px;
    margin-bottom: 32px; }

  .l-pad-0 {
    padding: 0; }

  .l-pad-0-left {
    padding-left: 0; }

  .l-pad-0-right {
    padding-right: 0; }

  .l-pad-0-top {
    padding-top: 0; }

  .l-pad-0-bottom {
    padding-bottom: 0; }

  .l-pad-0-sides {
    padding-left: 0;
    padding-right: 0; }

  .l-pad-0-vert {
    padding-top: 0;
    padding-bottom: 0; }

  .l-marg-0 {
    margin: 0; }

  .l-marg-0-left {
    margin-left: 0; }

  .l-marg-0-right {
    margin-right: 0; }

  .l-marg-0-top {
    margin-top: 0; }

  .l-marg-0-bottom {
    margin-bottom: 0; }

  .l-marg-0-sides {
    margin-left: 0;
    margin-right: 0; }

  .l-marg-0-vert {
    margin-top: 0;
    margin-bottom: 0; }

  .l-row-1 {
    display: flex;
    height: 8.33333%; }

  .l-row-2 {
    display: flex;
    height: 16.66667%; }

  .l-row-3 {
    display: flex;
    height: 25%; }

  .l-row-4 {
    display: flex;
    height: 33.33333%; }

  .l-row-5 {
    display: flex;
    height: 41.66667%; }

  .l-row-6 {
    display: flex;
    height: 50%; }

  .l-row-7 {
    display: flex;
    height: 58.33333%; }

  .l-row-8 {
    display: flex;
    height: 66.66667%; }

  .l-row-9 {
    display: flex;
    height: 75%; }

  .l-row-10 {
    display: flex;
    height: 83.33333%; }

  .l-row-11 {
    display: flex;
    height: 91.66667%; }

  .l-row-12 {
    display: flex;
    height: 100%; } }
.pad-half {
  padding: 4px; }

.pad-half-left {
  padding-left: 4px; }

.pad-half-right {
  padding-right: 4px; }

.pad-half-top {
  padding-top: 4px; }

.pad-half-bottom {
  padding-bottom: 4px; }

.pad-half-sides {
  padding-left: 4px;
  padding-right: 4px; }

.pad-half-vert {
  padding-top: 4px;
  padding-bottom: 4px; }

.marg-half {
  margin: 4px; }

.marg-half-left {
  margin-left: 4px; }

.marg-half-right {
  margin-right: 4px; }

.marg-half-top {
  margin-top: 4px; }

.marg-half-bottom {
  margin-bottom: 4px; }

.marg-half-sides {
  margin-left: 4px;
  margin-right: 4px; }

.marg-half-vert {
  margin-top: 4px;
  margin-bottom: 4px; }

.grid-align-right {
  justify-content: flex-end; }

.grid-align-center {
  justify-content: center; }

.grid-align-justify {
  justify-content: space-between; }

.grid-align-spaced {
  justify-content: space-around; }

.grid-align-top {
  items: flex-start; }

.grid-align-self-top {
  self: flex-start; }

.grid-align-bottom {
  items: flex-end; }

.grid-align-self-bottom {
  self: flex-end; }

.grid-align-middle {
  items: center; }

.grid-align-self-middle {
  self: center; }

.grid-align-stretch {
  items: stretch; }

.grid-align-self-stretch {
  self: stretch; }

.grid-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
